<!DOCTYPE html>
<html>
<head>
  <title>Overlay</title>
  <%= stylesheet_link_tag    "overlay/application", media: "all" %>
  <%= javascript_include_tag "overlay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
